/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}
input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}
input::placeholder {
  color: inherit;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}
a,
img,
button,
input,
select {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fa-snapchat {
  &::before {
    content: "\f2ac";
  }
}
.fa-facebook {
  &::before {
    content: "\f39e";
  }
}
.fa-linkedin {
  &::before {
    content: "\f0e1";
  }
}

.la-snapchat {
  &::before {
    content: "\f2ac";
  }
}
.la-facebook {
  &::before {
    content: "\f39e";
  }
}
.la-linkedin {
  &::before {
    content: "\f0e1";
  }
}