.clients {
  margin: 140px 0;
  @include sm {
    margin: 40px 0;
  }
}
.clients-cont {
  padding: 85px;
  border: 2px solid lighten($color: $setting_text_color, $amount: 50%);
  background: lighten($color: $setting_text_color, $amount: 60%);
  border-radius: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  @include sm {
    border-radius: 32px;
    padding: 40px;
    gap: 20px;
  }
  @include xs {
    border-radius: 18px;
  }
  .title {
    font-size: 40px;
    font-weight: $weight-bold;
    color: #000;
    @include xs {
      font-size: 32px;
      text-align: center;
    }
  }
}
.clients-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  //   grid-template-columns: repeat(auto-fit, minmax(103px, 1fr));
  row-gap: 18px;
  column-gap: 42px;
  place-items: center;
  justify-content: center;
  @include md {
    column-gap: 30px;
  }
  @include sm {
    grid-template-columns: repeat(5, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 20px;
  }
  @include xxs {
    grid-template-columns: repeat(3, 1fr);
  }
  .client-img {
    width: 103px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    @include xxs {
      width: 80px;
    }
  }
}
