footer {
  margin: 140px 0 51px;
  @include sm {
    margin: 40px 0 20px;
  }
}
.footer {
  position: relative;
  color: #fff;
  padding: 52px;
  border-radius: 56px;
  overflow: hidden;
  @include sm {
    border-radius: 28px;
    padding: 40px;
  }
  @include xs {
    border-radius: 18px;
    padding: 25px;
  }
  .footer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      180deg,
      #020202 0%,
      rgba(2, 2, 2, 0.7) 24.67%,
      rgba(2, 2, 2, 0.7) 75%,
      #020202 100%
    );
  }
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid darken($color: $setting_text_color, $amount: 10%);
  border-radius: 16px;
  padding: 31px 39px;
  margin-bottom: 20px;
  background-color: rgba(
    $color: darken($color: $setting_text_color, $amount: 30%),
    $alpha: 0.64
  );
  @include sm {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 15px;
  }
  @include xs {
    gap: 10px;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .header-text {
    font-size: 24px;
    font-weight: $weight-medium;
    max-width: 550px;
    @include sm {
      text-align: center;
    }
    @include xs {
      font-size: 20px;
    }
  }
  .header-btn {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 40px;
    border-radius: 8px;
    border: 2px solid $setting_primary_color;
    color: $setting_primary_color;
    font-size: 16px;
    font-weight: $weight-semibold;
    transition: all 0.4s ease;
    @include sm {
      padding: 0 60px;
    }
    @include xxs {
      width: 100%;
      height: 40px;
      justify-content: center;
    }
    &:hover {
      border-color: #fff;
      color: #fff;
      background-color: darken($color: $setting_primary_color, $amount: 10%);
    }
  }
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  .contact-page & {
    grid-template-columns: 7fr 5fr;
    @include sm {
      grid-template-columns: 1fr 1fr;
    }
    @include xs {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  @include xs {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .brand-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    @include sm {
      display: none;
    }
    .brand-img {
      max-width: 250px;
      aspect-ratio: 250/56;
    }
    .footer-name {
      font-size: 20px;
      font-weight: $weight-bold;
    }
  }
  .nav-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 49px 53px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    overflow: hidden;
    @include sm {
      padding: 25px;
    }
    @include xs {
      padding: 25px;
      gap: 15px;
      border-radius: 12px;
    }
    .nav-title {
      font-size: 24px;
      font-weight: $weight-medium;
      white-space: nowrap;
      @include xs {
        font-size: 20px;
      }
    }
    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 12px;
      @include xs {
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
      }
      li {
        font-size: 16px;
        font-weight: $weight_regular;
        @include xs {
          width: calc(33% - 20px);
          white-space: nowrap;
          font-size: 14px;
        }
      }
      .active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: -100%;
          top: 50%;
          transform: translateY(-50%);
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          width: 45px;
          height: 6px;
          background-color: $setting_primary_color;
        }
      }
    }
  }
  .contact-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 49px 24px 32px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    @include sm {
      padding: 25px;
    }
    @include xs {
      gap: 15px;
      border-radius: 12px;
    }
    .contact-page & {
      padding: 42px 38px;
      gap: 32px;
      @include sm {
        padding: 25px;
      }
      @include xs {
        padding: 0;
        border: none;
        background-color: unset;
        gap: 15px;
      }
    }
    .contact-title {
      font-size: 24px;
      font-weight: $weight-medium;
      @include xs {
        font-size: 20px;
      }
      .contact-page & {
        text-align: center;
        width: 100%;
      }
    }
    .contact-menue {
      display: flex;
      flex-direction: column;
      gap: 16px;
      //   flex-wrap: wrap;
      @include md {
        gap: 12px;
      }
      @include sm {
        flex-wrap: wrap;
      }
      @include xs {
        flex-wrap: wrap;
        width: 100%;
      }
      .contact-page & {
        width: 100%;
        gap: 20px;
      }
      .contact-btn {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 3px;
        padding: 12px 14px;
        border-radius: 8px;
        background-color: darken($color: $setting_text_color, $amount: 10%);
        width: 100%;
        transition: all 0.5s ease-in-out;
        border: 1px solid transparent;
        @include md {
          padding: 10px;
        }
        @include sm {
        }
        @include xxs {
          width: 100%;
        }
        .las {
          font-size: 20px;
          transition: all 0.5s ease-in-out;
        }
        .contact-type {
          font-size: 16px;
          @include xs {
            font-size: 14px;
          }
        }
        &:hover {
          border: 1px solid $setting_primary_color;
          // white-space: nowrap;
          @include md {
            white-space: unset;
          }
          .las {
            color: $setting_primary_color;
          }
        }
      }
    }
  }
}
.social-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  @include sm {
    gap: 10px;
  }
  @include xs {
    flex-direction: column;
  }
  .follow {
    color: #fff;
    font-size: 20px;
    font-weight: $weight-bold;
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 54px;
  @include xs {
    margin-top: 25px;
  }
  .contact-page & {
    margin: 0;
  }
  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  a:has(.la-twitter) {
    border: 1.76px solid #1a1a1a;
    .lab {
      color: #1a1a1a;
      font-size: 20px;
    }
  }
  a:has(.la-facebook-f) {
    border: 2.64px solid #327eea;
    .lab {
      color: #327eea;
      font-size: 20px;
    }
  }
  a:has(.la-linkedin-in) {
    border: 2.64px solid #4459be;
    .lab {
      color: #4459be;
      font-size: 20px;
    }
  }
  a:has(.la-instagram) {
    border: 2.64px solid #e5505d;
    .lab {
      background: -webkit-linear-gradient(
        #9538a4 0%,
        #e5505d 53.3%,
        #f7852b 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
    }
  }
}
.form {
  border: 2px solid darken($color: $setting_text_color, $amount: 10%);
  border-radius: 16px;
  background-color: rgba(
    $color: darken($color: $setting_text_color, $amount: 30%),
    $alpha: 0.64
  );
  padding: 43px 73px;
  display: flex;
  flex-direction: column;

  gap: 32px;
  @include sm {
    padding: 25px;
  }
  @include xs {
    gap: 15px;
    border-radius: 12px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .title {
    font-size: 24px;
    font-weight: $weight-medium;
    text-align: center;
    @include xs {
      font-size: 20px;
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  @include xxs {
    gap: 16px;
  }

  .form-group {
    position: relative;
  }

  .form-group input,
  textarea {
    width: 100%;
    padding: 0px 16px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    border: 1px solid #535353;
    border-radius: 8px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-color: $setting_primary_color;
    }
    @include xxs {
      font-size: 16px;
    }
  }

  .form-group label {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 0 8px;
    font-size: 18px;
    pointer-events: none;
    transition: 0.3s ease;
    color: #fff;
  }

  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label {
    top: 9px;
    font-size: 12px;
    color: #fff;
    // background-color: transparent;
  }
  .form-group input:focus {
    border-color: $setting_primary_color;
    // background-color: transparent;
  }
  .form-group input:not(:placeholder-shown) {
    // background-color: transparent;
    // border-color: $setting_secondary_color;
  }
  .form-group:focus {
    background-color: transparent;
  }
  .select {
    position: relative;
    select:has([hidden]:checked) {
      color: #000000;
      option {
        color: #000000;
      }
    }
    &::before {
      content: "\f107";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: 16px;
      font-family: "Line Awesome Free";
      font-size: 20px;
      color: $setting_primary_color;
      font-weight: 900;
    }
  }
  textarea {
    resize: none;
    min-height: 64px;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      // background-color: transparent;
      border-color: $setting_primary_color;
    }
  }
  button {
    padding: 0;
  }
  .send {
    border: 2px solid #ffffff;
    background-color: $setting_primary_color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: $weight-semibold;
    width: 100%;
    @include xs {
      height: 44px;
    }

    &:hover {
      background-color: darken($color: $setting_primary_color, $amount: 10%);
      border-color: lighten($color: $setting_primary_color, $amount: 30%);
      color: #fff;
    }
  }
}
