footer {
  margin: 140px 0 51px;
  @include sm {
    margin: 40px 0 20px;
  }
}
.footer {
  position: relative;
  color: #fff;
  padding: 52px;
  border-radius: 56px;
  overflow: hidden;
  @include sm {
    border-radius: 28px;
    padding: 40px;
  }
  @include xs {
    border-radius: 18px;
    padding: 25px;
  }
  .footer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      180deg,
      #020202 0%,
      rgba(2, 2, 2, 0.7) 24.67%,
      rgba(2, 2, 2, 0.7) 75%,
      #020202 100%
    );
  }
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid darken($color: $setting_text_color, $amount: 10%);
  border-radius: 16px;
  padding: 31px 39px;
  margin-bottom: 20px;
  background-color: rgba(
    $color: darken($color: $setting_text_color, $amount: 30%),
    $alpha: 0.64
  );
  @include sm {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 15px;
  }
  @include xs {
    gap: 10px;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .header-text {
    font-size: 24px;
    font-weight: $weight-medium;
    max-width: 550px;
    @include sm {
      text-align: center;
    }
    @include xs {
      font-size: 20px;
    }
  }
  .header-btn {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 40px;
    border-radius: 8px;
    border: 2px solid $setting_primary_color;
    color: $setting_primary_color;
    font-size: 16px;
    font-weight: $weight-semibold;
    transition: all 0.4s ease;
    @include sm {
      padding: 0 60px;
    }
    @include xxs {
      width: 100%;
      height: 40px;
      justify-content: center;
    }
    &:hover {
      border-color: #fff;
      color: #fff;
      background-color: darken($color: $setting_primary_color, $amount: 10%);
    }
  }
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  @include xs {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .brand-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    @include sm {
      display: none;
    }
    .brand-img {
      max-width: 250px;
      aspect-ratio: 250/56;
    }
    .footer-name {
      font-size: 20px;
      font-weight: $weight-bold;
    }
  }
  .nav-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 49px 53px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    overflow: hidden;
    @include sm {
      padding: 25px;
    }
    @include xs {
      padding: 25px;
      gap: 15px;
      border-radius: 12px;
    }
    .nav-title {
      font-size: 24px;
      font-weight: $weight-medium;
      white-space: nowrap;
      @include xs {
        font-size: 20px;
      }
    }
    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 12px;
      @include xs {
        gap: 25px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
      }
      li {
        font-size: 16px;
        font-weight: $weight_regular;
        @include xs {
          width: calc(33% - 25px);
          white-space: nowrap;
          font-size: 14px;
        }
      }
      .active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: -100%;
          top: 50%;
          transform: translateY(-50%);
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          width: 45px;
          height: 6px;
          background-color: $setting_primary_color;
        }
      }
    }
  }
  .contact-column {
    border: 2px solid darken($color: $setting_text_color, $amount: 10%);
    border-radius: 16px;
    background-color: rgba(
      $color: darken($color: $setting_text_color, $amount: 30%),
      $alpha: 0.64
    );
    padding: 49px 24px 32px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    @include sm {
      padding: 25px;
    }
    @include xs {
      gap: 15px;
      border-radius: 12px;
    }
    .contact-title {
      font-size: 24px;
      font-weight: $weight-medium;
      @include xs {
        font-size: 20px;
      }
    }
    .contact-menue {
      display: flex;
      flex-direction: column;
      gap: 16px;
      //   flex-wrap: wrap;
      @include md {
        gap: 12px;
      }
      @include sm {
        flex-wrap: wrap;
      }
      .contact-btn {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 3px;
        padding: 12px 14px;
        border-radius: 8px;
        background-color: darken($color: $setting_text_color, $amount: 10%);
        width: 100%;
        @include md {
          padding: 10px;
        }
        @include sm {
        }
        @include xxs {
          width: 100%;
        }
        .las {
          font-size: 20px;
        }
        .contact-type {
          font-size: 16px;
          @include xs {
            font-size: 14px;
          }
        }
      }
      .active {
        border: 1px solid $setting_primary_color;
        white-space: nowrap;
        @include md {
          white-space: unset;
        }
        .las {
          color: $setting_primary_color;
        }
      }
    }
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 54px;
  @include xs {
    margin-top: 25px;
  }
  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  a:has(.la-twitter) {
    border: 1.76px solid #1a1a1a;
    .lab {
      color: #1a1a1a;
      font-size: 20px;
    }
  }
  a:has(.la-facebook-f) {
    border: 2.64px solid #327eea;
    .lab {
      color: #327eea;
      font-size: 20px;
    }
  }
  a:has(.la-linkedin-in) {
    border: 2.64px solid #4459be;
    .lab {
      color: #4459be;
      font-size: 20px;
    }
  }
  a:has(.la-instagram) {
    border: 2.64px solid #e5505d;
    .lab {
      background: -webkit-linear-gradient(
        #9538a4 0%,
        #e5505d 53.3%,
        #f7852b 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
    }
  }
}
