.hero {
  margin: 0;
  padding: 130px 0 140px;
  position: relative;
  overflow: hidden;
  @include sm {
    padding: 40px 0;
  }
  .hero-svg {
    position: absolute;
    bottom: -15px;
    z-index: -1;
    left: auto;
    inset-inline-end: -165px;
    width: auto;
    @include md {
      display: none;
    }
  }
}
.hero-cont {
  display: grid;
  grid-template-columns: 525px 1fr;
  align-items: center;
  gap: 99px;
  .about-page & {
    grid-template-columns: 568px 1fr;
    gap: 66px;
    @include md {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @include sm {
      gap: 30px;
      grid-template-columns: 1fr;
    }
    @include xs {
      grid-template-columns: 1fr;
    }
  }
  @include md {
    grid-template-columns: 1fr 1fr;
  }
  @include sm {
    gap: 30px;
  }
  @include xs {
    grid-template-columns: 1fr;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    .jop {
      font-size: 18px;
      color: $setting_primary_color;
      margin: 0;
    }
    .name {
      font-size: 64px;
      font-weight: $weight_bold;
      color: #010101;
      margin-bottom: 24px;
      @include sm {
        font-size: 48px;
        margin-bottom: 12px;
      }
    }
    .desc {
      font-size: 24px;
      font-weight: $weight_light;
      margin-bottom: 32px;
      color: #343434;
      .about-page & {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: $weight_regular;
      }
      @include sm {
        font-size: 14px;
      }
    }
    .project-advs {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 20px;
      .advs-line {
        display: flex;
        align-items: center;
        gap: 8px;
        .advs-icon {
          color: #00fd87;
          font-size: 16px;
          @include xs {
            font-size: 14px;
          }
        }
        .advs-text {
          color: #343434;
          font-size: 16px;
          font-weight: $weight_regular;
          @include md {
            font-size: 14px;
          }
          @include xs {
            font-size: 12px;
          }
        }
      }
    }
    .hero-btns {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;
      .cv-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        background-color: $setting_primary_color;
        color: #fff;
        border-radius: 8px;
        padding: 9px 24px;
        transition: all 0.4s ease;
        border: 2px solid #ffffff;
        .about-page & {
          width: 100%;
          justify-content: center;
        }
        @include sm {
          padding: 8px 12px;
        }
        &:hover {
          background-color: darken(
            $color: $setting_primary_color,
            $amount: 10%
          );
          border-color: lighten($color: $setting_primary_color, $amount: 0%);
        }
        .download {
          font-size: 24px;
        }
        .cv {
          font-size: 16px;
          font-weight: $weight_semibold;
        }
      }
      .more-btn {
        display: flex;
        align-items: center;
        border: 2px solid $setting_primary_color;
        border-radius: 8px;
        padding: 9px 24px;
        color: $setting_primary_color;
        font-size: 16px;
        font-weight: $weight_semibold;
        transition: all 0.4s ease;
        @include sm {
          padding: 8px 12px;
        }
        &:hover {
          color: #fff;
          background-color: $setting_primary_color;
        }
      }
    }
  }
  .hero-img {
    border-radius: 50%;
    overflow: unset;
    max-width: 501px;
    aspect-ratio: 1;
    position: relative;
    .about-page & {
      @include sm {
        margin: auto;
      }
    }
    .img-cover {
      overflow: hidden;
      border-radius: 50%;
      display: flex;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 8px solid #ffffff80;
      border-radius: 50%;
    }
  }
}
