.info {
  padding: 0 0 70px;
}
.info-cont {
  background-color: #151515;
  color: #fff;
  padding: 77px 50px 60px;
  border-radius: 56px;
  display: flex;
  flex-direction: column;
  gap: 53px;
  @include sm {
    border-radius: 30px;
    gap: 36px;
    padding: 40px 30px 35px;
  }
  @include xs {
    border-radius: 18px;
    gap: 20px;
    padding: 30px 20px;
  }
  .info-row {
    display: grid;
    grid-template-columns: 528px 1fr;
    gap: 46px;
    @include md {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @include sm {
      grid-template-columns: 1fr;
    }
    @include xs {
      gap: 20px;
      text-align: center;
    }
    .jop-title {
      font-size: 32px;
      font-weight: $weight-bold;
      margin: 0;
      @include md {
        font-size: 28px;
      }
      @include xs {
        font-size: 22px;
      }
    }
    .jop-desc {
      font-size: 18px;
      margin: 0;
      @include xs {
        font-size: 16px;
      }
    }
  }
  .info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    background-color: #242424;
    border: 2px solid #242424;
    border-radius: 24px;
    overflow: hidden;
    @include sm {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xs {
      grid-template-columns: repeat(2, 1fr);
      border-radius: 12px;
    }
    .outer-info-box {
      background-color: #151515;
    }

    .info-box {
      background-color: #151515;
      padding: 50px 22px;
      margin: 4px;
      display: flex;
      gap: 9px;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      @include md {
        padding: 36px 16px;
      }
      @include sm {
        padding: 26px 16px;
      }
      @include xs {
        padding: 8px;
        gap: 5px;
      }
      &:hover {
        background-color: #242424;
        border-radius: 17px;
        @include xs {
          border-radius: 8px;
        }

        .info-icon {
          transform: scale(1.2);
        }
        .info-text {
          transform: translateX(-4px);
        }
      }
      .info-icon {
        font-size: 36px;
        color: $setting_primary_color;
        transition: all 0.4s ease;

        @include sm {
          font-size: 30px;
        }
        @include xs {
          font-size: 22px;
        }
      }
      .info-text {
        font-size: 20px;
        font-weight: $weight-bold;
        transition: all 0.4s ease;
        @include sm {
          font-size: 18px;
        }
        @include xs {
          font-size: 14px;
        }
      }
    }
  }
}
