.reviews {
  margin: 140px 0;
  @include sm {
    margin: 40px 0;
  }
  .reviews-page & {
    margin: 123px 0 -90px;
    @include sm {
      margin: 50px 0;
    }
  }
}
.reviews-cont {
  padding: 57px;
  border: 2px solid #242424;
  background: #151515;
  border-radius: 56px;
  color: #fff;
  @include sm {
    border-radius: 32px;
  }
  @include xs {
    padding: 20px;
    border-radius: 18px;
  }
  .reviews-page & {
  }
}
.reviews-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  @include xs {
    margin-bottom: 20px;
    justify-content: center;
  }
  .title {
    font-size: 40px;
    font-weight: $weight-bold;
    @include xs {
      font-size: 32px;
      text-align: center;
    }
  }
}
.reviews-btn {
  border: 2px solid $setting_primary_color;
  background-color: transparent;
  color: $setting_primary_color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 63px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: $weight-semibold;
  transition: all 0.5s ease;
  &.lg {
    @include xs {
      display: none;
    }
  }
  &.xs {
    display: none;
    @include xs {
      display: flex;
      margin-top: 20px;
    }
  }
  &:hover {
    background-color: darken($color: $setting_primary_color, $amount: 10%);
    border-color: #fff;
    color: #fff;
  }
}
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xs {
    grid-template-columns: 1fr;
  }
  .review {
    display: flex;
    flex-direction: column;
    .review-row {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 0 21px 0 27px;
      @include xxs {
        padding: 0 15px;
      }
      .review-img {
        width: 120px;
        aspect-ratio: 120/97;
        overflow: hidden;
        border-radius: 16px;
        object-position: top;
      }
      .review-svg {
        width: 56px;
        height: 24px;
        margin-top: 13px;
        .review-path {
          fill: $setting_primary_color;
          opacity: 0.3;
        }
      }
    }
    .review-text {
      margin-top: -45px;
      backdrop-filter: blur(4px);
      border: 2px solid darken($color: $setting_text_color, $amount: 10%);
      background-color: rgba(
        $color: darken($color: $setting_text_color, $amount: 30%),
        $alpha: 0.6
      );
      padding: 17px 21px;
      border-radius: 16px;
      @include xxs {
        padding: 15px;
      }
      .review-p {
        font-size: 14px;
        font-weight: $weight-light;
        color: lighten($color: $setting_text_color, $amount: 40%);
        margin-bottom: 11px;
        @include xxs {
          font-size: 13px;
        }
      }
      .name {
        font-size: 14px;
        font-weight: $weight-semibold;
        color: #fff;
        @include xxs {
          font-size: 13px;
        }
      }
    }
  }
}
