.single-project {
  margin: 114px 0;
  position: relative;
  @include sm {
    margin: 40px 0;
  }
}
.single-project-cont {
  position: relative;
  .single-project-img {
    border-radius: 24px;
    border: 2px solid #535353;
    width: 100%;
    aspect-ratio: 1142/525;
    overflow: hidden;
    position: relative;
    @include xs {
      aspect-ratio: 0.7;
      border-radius: 12px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(12, 12, 12, 0.6) 0%,
        #0c0c0c 100%
      );
    }
    .img-cover {
      display: flex;
      object-position: top;
    }
  }
  .single-project-flex {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 41px 68px;
    display: flex;
    align-items: end;
    gap: 24px;
    @include sm {
      padding: 15px;
    }
    @include xs {
      flex-direction: column;
      justify-content: end;
      align-items: unset;
    }
    .single-project-text {
      width: 50%;
      @include sm {
        width: 45%;
      }
      @include xs {
        width: 100%;
      }
      .project-name {
        font-size: 32px;
        font-weight: $weight-bold;
        margin-bottom: 16px;
        display: flex;
        @include md {
          font-size: 28px;
        }
        @include sm {
          font-size: 20px;
        }
        @include xs {
          font-size: 19px;
          margin-bottom: 12px;
          text-align: center;
        }
      }
      .project-desc {
        font-size: 16px;
        font-weight: $weight_regular;
        color: #d9d9d9;
        @include sm {
          font-size: 13px;
        }
        @include xs {
          font-size: 14px;
        }
      }
    }
    .project-advs {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      @include sm {
        width: 55%;
      }
      @include xs {
        width: 100%;
      }
      .advs-line {
        display: flex;
        align-items: center;
        gap: 8px;
        @include sm {
          gap: 5px;
        }
        .advs-icon {
          color: #00fd87;
          font-size: 16px;
          @include sm {
            font-size: 14px;
          }
          @include xs {
            font-size: 14px;
          }
        }
        .advs-text {
          color: #d9d9d9;
          font-size: 16px;
          font-weight: $weight_regular;
          @include md {
            font-size: 14px;
          }
          @include sm {
            font-size: 12px;
          }
          @include xs {
            font-size: 10px;
          }
        }
      }
    }
  }
}
.project-float {
  position: absolute;
  background: #010101;
  color: #fff;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  @include sm {
    bottom: -55px;
    padding: 0 10px;
  }
  @include xs {
    bottom: -70px;
  }
  .float-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 12px;
    @include sm {
      padding: 10px 0;
    }
    @include xs {
      flex-direction: column;
      gap: 15px;
    }
    .float-text {
      max-width: 418px;
      font-size: 24px;
      font-weight: $weight-bold;
      @include sm {
        font-size: 20px;
        max-width: 50%;
      }
      @include xs {
        max-width: 100%;
        font-size: 22px;
        text-align: center;
      }
    }
    .float-btn {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 40px;
      border-radius: 8px;
      border: 2px solid $setting_primary_color;
      color: $setting_primary_color;
      font-size: 16px;
      font-weight: $weight-semibold;
      transition: all 0.4s ease;
      @include sm {
        padding: 0 60px;
      }
      @include xxs {
        width: 100%;
        height: 40px;
        justify-content: center;
      }
      &:hover {
        border-color: #fff;
        color: #fff;
        background-color: darken($color: $setting_primary_color, $amount: 10%);
      }
    }
  }
}
