.skills {
  margin: 70px 0;
  position: relative;
  @include sm {
    margin: 20px 0;
  }
  .skills-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      180deg,
      #020202 0%,
      rgba(2, 2, 2, 0.7) 24.67%,
      rgba(2, 2, 2, 0.7) 75%,
      #020202 100%
    );
  }
}
.skills-cont {
  color: #fff;
  padding: 125px 0;
  @include sm {
    padding: 60px 0;
  }
  .skills-title {
    font-size: 40px;
    font-weight: $weight-bold;
    margin-bottom: 40px;
    text-align: center;
    @include xs {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22px;
  column-gap: 20px;
  @include sm {
    gap: 10px;
  }
  @include xs {
    grid-template-columns: 1fr;
  }
  .skill-item {
    background: rgba(1, 1, 1, 0.2);
    border-radius: 32px;
    border: 2px solid transparent;
    backdrop-filter: blur(4px);
    position: relative;
    transition: all 0.7s ease;
    @include sm {
      border-radius: 18px;
    }

    &:hover {
      .skill-hover {
        transform: rotate(0);
        height: 100%;
        opacity: 1;
        border: 2px solid #ffffff;
      }
      .skill-icon {
        transform: scale(1.2);
      }
      .skill-text {
        transform: translateX(-6px);
      }
    }
    .skill-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background-color: #010101;
      transform: rotate(15deg);
      border-radius: 32px;
      transition: all 0.8s ease;
      transform-origin: 20%;
      z-index: 2;
      opacity: 0;
      @include sm {
        border-radius: 18px;
      }
    }
    .inner-item {
      padding: 37px 33px;
      background-color: transparent;
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 3;
      @include sm {
        padding: 20px;
      }
      .skill-icon {
        width: 56px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid $setting_primary_color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $setting_primary_color;
        font-size: 21px;
        transition: all 0.7s ease;
      }
      .skill-text {
        font-size: 20px;
        font-weight: $weight-bold;
        transition: all 0.7s ease;
        @include sm {
          font-size: 16px;
        }
      }
    }
  }
}
